# Hight Performace Sqlite

In [ ]:
%pip install jupysql duckdb-engine --quiet

> amalgamation

In [1]:
%load_ext sql

In [ ]:
# libSQL

In [2]:
%config SqlMagic.autopandas=True

In [2]:
import pandas as pd
import sqlite3

In [3]:
%%sql sqlite://
    create table presidents (first_name, last_name, year_of_birth);
    insert into presidents values('Georg', 'Washington', 1732);
        insert into presidents values('John', 'Adams', 1735);
            insert into presidents values('Thomas', 'Jefferson', 1743);
                insert into presidents values('James', 'Madison', 1751);

Connecting to 'sqlite://'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [4]:
later_presidents = %sql select * from presidents where year_of_birth > 1700
later_presidents

Running query in 'sqlite://'

+------------+------------+---------------+
| first_name | last_name  | year_of_birth |
+------------+------------+---------------+
|   Georg    | Washington |      1732     |
|    John    |   Adams    |      1735     |
|   Thomas   | Jefferson  |      1743     |
|   James    |  Madison   |      1751     |
+------------+------------+---------------+

> use litecli in command line

sqlite can handle 281 TB size file

sqlite railsway diagrams

https://www.sqlite.org/draft/lang_select.html

https://www.sqlite.org/syntaxdiagrams.html

```bash
open test.sqlite -a Sublime\ Text

echo "5351 4c69 7465 2066 6f72 6d61 7420 3300" | xxd -r -p
SQLite format 3
```

useful commands
```bash
sqlite3 test.sqlite
sqlite3 test.sqlite ".help"
sqlite3 test.sqlite ".tables"
sqlite3 test.sqlite ".schema"
sqlite3 test.sqlite ".mode column"
sqlite3 test.sqlite ".mode list"
sqlite3 test.sqlite ".mode line"
sqlite3 test.sqlite ".mode insert"
sqlite3 test.sqlite ".mode csv"
sqlite3 test.sqlite ".mode html"
sqlite3 test.sqlite ".mode markdown"
sqlite3 test.sqlite ".mode column"
sqlite3 test.sqlite ".headers on"
sqlite3 test.sqlite ".headers off"
sqlite3 test.sqlite ".output output.txt"
sqlite3 test.sqlite ".output" # back to stdout
sqlite3 test.sqlite ".import data.csv table_name"
sqlite3 test.sqlite ".dump" > dump.sql
sqlite3 test.sqlite < dump.sql
sqlite3 test.sqlite ".output" > dump.sql
sqlite3 test.sqlite ".output"
sqlite3 test.sqlite ".exit"
```

```bash
.sqlite3 test.sqlite
sqlite> .shell clear
sqlite> .headers on
sqlite> .mode
sqlite> .mode json
sqlite> .mode box
sqlite> .mode markdown
sqlite> .width 2 10 30
sqlite> .mode box --wrap 30 --ww
sqlite> .mode csv
sqlite> .mode html

sqlite> .mode csv
sqlite> .separator "|----|"

sqlite> .mode qbox
sqlite> .mode insert
sqlite> .output some_file.sql
sqlite> .once some_file.sql





```
```


```bash
.sqlite3 test.sqlite
.sqlite3 .schema
.sqlite3 .expert

```

# pragma

```bash
.sqlite3 test.sqlite
pragma pragma_list;
pragma page_size;
pragma page_count;
pragma busy_timeout;
pragma busy_timeout=5000;

# journal_mode is at the database level
sqlite> PRAGMA journal_mode;
sqlite> PRAGMA compile_options;
# ENABLE_FTS5 means full text search
# OMIT_LOAD_EXTENSION means no load_extension
sqlite> .dbconfig
# load_extension off
PRAGMA foreign_keys;
PRAGMA foreign_keys=1;
```

# Virtual tables

## install the csv extension

```bash
sqlite3
sqlite> .load csv

```

```sql
create virtual table temp.t1 using csv(filename='data.csv', headers=true);
```
## install the fts extension
```sql
create virtual table temp.t1 using fts5(text);
```
## install the blob extension
```sql
create virtual table temp.t1 using blob(filename='data.csv');
```
## install the json extension
```sql
create virtual table temp.t1 using json(filename='data.csv');
```
## install the spatialite extension
```sql
create virtual table temp.t1 using spatialite(filename='data.csv');
```
```

```sql
select * from generate_series(1, 100);
select * from generate_series(1, 100, 5);
```

# Data types

## Flexible Typing

https://www.sqlite.org/flextypegood.html#:~:text=Without%20flexible%20typing%2C%20such%20a,easier%20to%20access%20and%20update.

```sql
create table ex(a,b,c);
```

```sql
insert into ex values(1,'asdf', 3);
insert into ex values(1,'asdf', 'asdf');
insert into ex values('asdf',2, 'asdf');
select * from ex;
```

```sql
create table ex4 (a integer, b text);
insert into ex4 values(1, 'hello');
insert into ex4 values('hello', 2);
select typeof(a)  from ex4;
insert into ex4 values('3', '3');
select typeof(a), typeof(b)  from ex4;

```

## data types

+ null
+ integer
+ real
+ text
+ blob

### Type affinity("亲和性"或"关联性")
+ numeric affinity
+ integer affinity
+ real affinity
+ text affinity
+ none affinity

```sql
create table types(int integer, text text);
insert into types values(1.0, 1.0);
insert into types values(1.1, 1.0);
select int, typeof(int), text, typeof(text)  from types;

```

affinity is determined by the first character of the declared type

+ "INT" => INTEGER
+ "CHAR" => TEXT
+ "CLOB" => TEXT
+ "BLOB" => BLOB
+ "REAL" => REAL
+ "NUMERIC" => NUMERIC
+ "INTEGER" => INTEGER
+ "TEXT" => TEXT
+ "BINARY" => BLOB
+ [Not specified] => BLOB
+ "NONE" => NONE
+ "VARCHAR" => TEXT
+ "VARYING CHARACTER" => TEXT
+ "NCHAR" => TEXT
+ "NVARCHAR" => TEXT
+ "NATIVE CHARACTER" => TEXT
+ "CLOB" => TEXT
+ "REAL" => REAL
+ "FLOA" => REAL
+ "DOUB" => REAL

## Strict Tables

```sql
create table strict_types(int integer, text text) strict;
insert into strict_types  values('hello', 1); # error

create table strict_types (int int, foo foo);

create table strict_types(int int, foo foo) strict; # error

create table strict_types(int int, foo varchar) strict; # error


```

### Mix-type tables

```sql
create table kv (key text, value any) strict;
insert into kv values(1, 1);

insert into kv values('a', 'hello');

select key, typeof(key), value, typeof(value) from kv;


```

# date functions

+ TEXT (ISO 8601)
+ REAL (JDN) # julian Day
+ INTEGER (UNIX TIMESTAMP)


```sql
select date();
select time();
select datetime();
select julianday();
select unixepoch();
select unixepoch('subsec');
select strftime('%d', 'now');
select timediff(date(), date());

select datetime('now', 'start of month');

select datetime('now', 'start of month', '+1 month');
select datetime('now', 'start of month', '+1 month', '-1 day');

select datetime(1722782387, 'unixepoch');

-- find thanksgiving day of the current year
select date('now', 'start of year', '+10 months', 'weekday 4', '+21 days');

select timediff('now', '1989-02-14');

select julianday() - julianday('1989-02-14');

select (julianday() - julianday('1989-02-14')) / 365;


```

# Booleans

```sql
create table booleans(bool int);
insert into booleans values(0), (true),(1), (false);

select bool, type(bool) from booleans;

````

| bool | typeof(bool) |
|------|--------------|
| 0    | integer      |
| 1    | integer      |
| 1    | integer      |
| 0    | integer      |

# Floating point

```sql
create table floats(val float);

insert into floats values(26.3), (-10.52), (-15.78);


-- this won't work,
select sum(val) from floats;


-- this will work

select decimal_sum(val) from floats;

select decimal_add(.1, .2);

select decimal_add('.1', '.2');

-- real data types have 15 digits of precision

select decimal_add('1.000000000000001', '1.000000000000001');

select decimal_add('1.000000000000001', '1.000000000000002');

select decimal_add('1.000000000000001', '1.000000000000003');

select decimal_add('1.000000000000001', '1.000000000000004');

select decimal_add('1.000000000000001', '1.000000000000005');
```

# row id
```sql
create table example (a int)

insert into example values(1), (2), (3);


select rowid, * from example;


```

| rowid | a |
|-------|---|
| 1     | 1 |
| 2     | 2 |
| 3     | 3 |


```sql
select rowid, _rowid_, oid, * from example;

```

| rowid | rowid | rowid | a |
|-------|-------|-------|---|
| 1     | 1     | 1     | 1 |
| 2     | 2     | 2     | 2 |
| 3     | 3     | 3     | 3 |

```sql
create table example_uuid(uuid text primary key);

insert into example_uuid  values('1234-1234');

insert into example_uuid  values(null);


create table example_id(id  integer  primary key);


select rowid,_rowid_, oid,  * from example_id;

```

| id | id | id | id |
|----|----|----|----|
| 1  | 1  | 1  | 1  |
| 2  | 2  | 2  | 2  |

all columns are called id

```sql
insert into example_uuid (rowid, uuid) values(9223372036854775807, '3456-3456');
select rowid, * from example_Uuid;

```


|        rowid        |   uuid    |
|---------------------|-----------|
| 1                   | 1234-1234 |
| 2                   |           |
| 9223372036854775807 | 3456-3456 |


```sql
insert into example_uuid values('4567-4567');
select rowid, * from example_Uuid;
```

|        rowid        |   uuid    |
|---------------------|-----------|
| 1                   | 1234-1234 |
| 2                   |           |
| 3169222898095022640 | 4567-4567 |
| 9223372036854775807 | 3456-3456 |

```sql
create table auto (id integer primary key autoincrement, text text);
insert into auto (text) values ('hello');
insert into auto (text) values ('goodbye');
insert into auto (id, text) values (9223372036854775807, 'last');

-- error: database or disk is full (13)
insert into auto (text) values ('hopefully this works.');

select * from sqlite_sequence;

update sqlite_sequence set seq=2 where name='auto';

insert into auto (text) values ('delete from sqlite_sequence');
```

| id |            text             |
|----|-----------------------------|
| 1  | hello                       |
| 2  | goodbye                     |
| 3  | delete from sqlite_sequence |

```sql
create table kv (key text primary key, value any ) strict , without rowid;
insert into kv values('key', 1);


-- error
select rowid, * from kv;

```

### Generated columns

```sql

create table gen (
    id integer primary key,
    first_name text,
    last_name text,
    full_name text generated always as (first_name || ' ' || last_name)
) strict;

insert into gen (first_name, last_name) values ('jack', 'yao');
select * from gen;



```


| id | first_name | last_name | full_name |
|----|------------|-----------|-----------|
| 1  | jack       | yao       | jack yao  |

Generate column type:

+ virtual generate column (calucated at runtime, and is the default options)
+ stored generated column (calcated at insert/update time)

```sql
CREATE TABLE test (
    a INTEGER,
    b INTEGER,
    c INTEGER GENERATED ALWAYS AS (a + b) VIRTUAL,
    d INTEGER GENERATED ALWAYS AS (a + b) STORED,
    e INTEGER  AS (a - b) VIRTUAL);

# Locks

lock states 

+ unlocked
+ shared
+ reserved
+ pending
+ exclusive

lock type 

+ shared
+ reserved
+ pending
+ exclusive

lock request 

+ shared
+ reserved
+ pending
+ exclusive

# journal mode

```bash
sqlite> pragma journal_mode


```


- write-ahead logging (WAL)
- rollback journal (default)
- write journal
- truncate journal

## WAL mode

```bash
sqlite> pragma journal_mode=wal;
```

# busy_timeout

```bash
sqlite> PRAGMA busy_timeout = 5000;
sqlite> PRAGMA busy_timeout;
```


```sql
start exclusive transaction;

```

```sql
-- if busy_timeout = 0 then if a exclusive transaction is started, any write operation will error immediately
-- if busy_timeout > 0 then if a exclusive transaction is started, any write operation will wait for busy_timeout milliseconds


update kv set value = 2 where key = 'key';
-- Runtime error: database is locked


```

```bash

# journal_mode

```bash
sqlite> PRAGMA journal_mode;
```

# synchronous

```bash
sqlite> PRAGMA synchronous;
```

# wal_autocheckpoint

```bash
sqlite> PRAGMA wal_autocheckpoint;
```

# wal_checkpoint

```bash
sqlite> PRAGMA wal_checkpoint;
```

# wal_checkpoint(RESTART)

```bash
sqlite> PRAGMA wal_checkpoint(RESTART);
```

# wal_checkpoint(TRUNCATE)

```bash
sqlite> PRAGMA wal_checkpoint(TRUNCATE);
```



```sql
begin transaction;

rollback;

begin exclusive transaction;

commit;

```

# transaction mode

+ exclusive mode
+ deferred mode
+ immediate mode
+ autocommit mode

```sql
-- exclusive mode
BEGIN EXCLUSIVE TRANSACTION;

-- deferred mode
BEGIN DEFERRED TRANSACTION;

-- immediate mode
BEGIN IMMEDIATE TRANSACTION;

https://www.sqlite.org/lang_transaction.html

# vacuum



```bash
sqlite> .pragma page_count; 
sqlite> .pragma page_size; 
sqlite> .pragma freelist_count; 

# delte  free pages

sqlite> vacuum;

```

## Reason to vacuum:

+ Disk Space
+ Reduce Fragmentation

## Downsides to vacumming:

+ Can be Slow
+ Need a exclusive lock
+ More space

# Optmizing and Analyzing


```bash
sqlite> pragma optmize
sqlite> pragma optmize(0x03);
sqlite> pragma analysis_limit;
sqlite> pragma analysis_limit=400;


```

```sql
select * from sqlite_stat1;

```